
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="@Url.Content("~/css/site.css")" rel="stylesheet" />
    @* 头部预留css区域 *@
    @this.RenderSection("Head_Css", false)
    @* easyui *@
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery/jquery.json-2.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.easyui.all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/locale/easyui-lang-zh_CN.js")"></script>
    <link type="text/css" href="@Url.Content("~/plugins/easyui/themes/default/easyui.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/css/icon.css")" rel="stylesheet" />
</head>

<body>
    @RenderBody()
</body>

@* 尾部预留js区域 *@
@this.RenderSection("Tail_Js", false)
</html>

