
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="@Url.Content("~/css/site.css")" rel="stylesheet" />
    @* 头部预留css区域 *@
    @this.RenderSection("Head_Css", false)
    @* easyui *@
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.json-2.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/jquery.easyui.plus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/locale/easyui-lang-zh_CN.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/easyui/validatebox.js")"></script>
    <link type="text/css" href="@Url.Content("~/plugins/easyui/themes/bootstrap/easyui.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/css/icon.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/scripts/base.js")"></script>
</head>

<body>
    @RenderBody()
</body>
</html>

